{% extends "base.html" %}

{% block content %}

Voici l'état du jeu tel qu'il est maintenant. Cliquez sur "résultat" pour tout actualiser.
{% for item in items %}

<div id="items">
<div id="idsession" class="invisible">{{ item[0] }}</div>
<div id="ligne" class="invisible">{{ item[1] }}</div>
<div id="ligneval" class="invisible">{{ item[2] }}</div>
<div id="col" class="invisible">{{ item[3] }}</div>
<div id="colval" class="invisible">{{ item[4] }}</div>
</div>


<table>
	<tbody id="tabw">
   </tbody>
</table>

<a href="{{ url_for('results', ids=item[0]) }}">Cliquez ici pour continuer</a>
{% endfor %}

{% endblock %}
