html{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    border:1px solid black;
    text-align:center;
    margin-top: 20px;
}

#log{
    margin-top: 10px;
    margin-bottom: 10px;
}

td{
    min-width: 50px;
    border: 0.5px solid black;
}

tr{
    height: 50px;
}

#explications{
    margin:10px;
    max-width:300px;
}

.buttonacc{
    border: 1px black solid;
    padding:5px;
    margin: 5px;
}

#boutonclassique{
    border-radius: 5px;
    background-color: #a1bdff;
    text-align: center;
    max-width: 200px;
    padding: 10px;
    margin-top:50px;
}

#boutonquant{
    border-radius: 5px;
    background-color: #fd9797;
    text-align: center;
    max-width: 200px;
    padding: 10px;
    margin-top:50px;
}

#items{
    display:none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results{
    max-width: 350px;
}

#subbuton{
    display: none;
}