{% extends "base.html" %}

{% block content %}
        <div id="explications">Vous allez jouer au jeu du magic square, le carré magique. Pour ce faire, nous vous invitons à cliquer sur le bouton correspondant.</div>
        <a href={{ url_for('p1') }}><div class="buttonacc">Pour une nouvelle session, cliquez ici</div></a> 
        <div>Pour rejoindre une session, rentrez son numéro et cliquez sur rejoindre </div>
        <input name="idsesss" id="idsess"></input> <a  onclick="changelink()" id="link" href="#"><div class="buttonacc"> Rejoindre</div></a>
{% endblock %}
