<html>
    <head>
      <title>{{titre}} - ubqc</title>
      <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
   	</head>
    <body>

        <h1>UBQC</h1>
        Let's play UBQC together!
        
{% block content %}{% endblock %}

<br />
<div id="credit">Made with love by Cyril Castagnet, Léo Colisson, Francesco Arzani, Raja Yehia, and BOB a project of QIH.</div>

</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/perso.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/affichage.js"></script>

</html>
