{% extends "base.html" %}

{% block content %}


<form action="{{ url_for('waiting1') }}" method="POST" id="formp1">
<div id="log">Vous etes le joueur 1. Vous jouez sur la session <span id='numsess'>blabla</span><br />
Souvenez vous, quand vous remplissez la ligne, la somme des élements doit etre paire.</div>
<table>
	<tbody id="tab1">
		<tr>
			<td>1</td><td></td><td></td>
		</tr>
		<tr>
			<td></td><td></td><td></td>
		</tr>
		<tr>
			<td></td><td></td><td></td>
		</tr>
	</tbody>
</table>

<div id="inputs" style="display:none"></div>

<input type = "submit" value = "submit" id="subbuton"/>
</form>

{% endblock %}
